{%- comment -%}
  {% render 'featured-article' %}
{%- endcomment -%}

{% if article != blank %}
  <section class="featured-article">
    <div class="container">
      <div class="featured-article__grid">
        <div class="featured-article__image">
          <a href="{{ article.url }}" aria-label="{{ article.title }}">
            {% render 'image', img: article.image, width: 411, height: 386, vw_desktop: 50 %}
          </a>
        </div>

        <div class="featured-article__details">
          {% if article.tags != blank %}
            <p class="featured-article__tag">{{ article.tags.first }}</p>
          {% endif %}

          <h2 class="feature-article__heading heading-2">
            {{ article.title }}
          </h2>
          <div class="featured-article__excerpt">
            {{ article.excerpt }}
          </div>
          <a href="{{ article.url }}" class="cta">{{ 'blogs.article.read_now' | t }}</a>
        </div>
      </div>
    </div>
  </section>
{% endif %}
