<div class="video-container {{ class }}" id="video-container-{{ id }}--{{ class }}" data-yt-video>
  <iframe
    src="https://www.youtube.com/embed/{{ video }}?enablejsapi=1&autoplay=1&mute=1&modestbranding=1&playlist={{ video }}&controls=0&fs=0&loop=1&origin={{ shop.url }}"
    frameborder="0"
    allow="autoplay; accelerometer; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
