<section class="account">
  <h1 class="visually-hidden">Password Reset</h1>
  <div class="account__container">
    {% if section.settings.image != blank %}
      <div class="account__image">
        {% render 'image', img: section.settings.image, width: 720, height: 800, vw_desktop: 50 %}
      </div>
    {% endif %}

    <div class="account__wrapper">
      <div class="account__content account__content--form">
        <h2 class="account__heading heading-1">{{ 'customer.reset_password.title' | t }}</h2>
        <p class="account__description">{{ 'customer.reset_password.subtext' | t }}</p>
        {% form 'reset_customer_password' %}
          {% if form.errors %}
            <div class="account__alert alert alert--error">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

          <label for="ResetPassword" class="label">{{ 'customer.reset_password.password' | t }}</label>
          <input
            type="password"
            name="customer[password]"
            id="ResetPassword"
            class="account__input text-input {% if form.errors contains 'password' %}input-error{% endif %}"
            placeholder="{{ 'customer.reset_password.password_placeholder' | t }}"
            required
          >

          <label for="PasswordConfirmation" class="label">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input
            type="password"
            name="customer[password_confirmation]"
            id="PasswordConfirmation"
            class="account__input text-input {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
            placeholder="{{ 'customer.reset_password.password_confirm_placeholder' | t }}"
            required
          >

          <input
            type="submit"
            class="account__submit btn btn--primary btn--block"
            value="{{ 'customer.reset_password.submit' | t }}"
          >
        {% endform %}
      </div>

      <div class="account__content">
        <h2 class="heading-2">{{ 'customer.recover_password.remember_password' | t }}</h2>
        <a href="{{ routes.account_login_url }}" class="account__submit btn btn--secondary btn--block">
          {{- 'customer.login.sign_in' | t -}}
        </a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Password Reset Main",
  "class": "password-reset-section",
  "settings": [
    {
      "type": "header",
      "content": "This should only be used on reset_password.json"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
